@charset "UTF-8";
@font-face{
		font-family: "HelveticaNeue";
		src: url("resources/font/helveticaneue-thin.woff") format("woff"),
		url("resources/font/helvetica-neue-thin.woff2");
}

/* animations */ 
@font-face {
		  font-family: "aBigDeal";
		  src: url("resources/font/BigDeal.woff") format("woff"),
		  url("resources/font/BigDeal.woff2");
}
.photos{
	position:absolute;
	top:45vh;
}
h2{
	color:white;
	text-align:center;
	
}